<!-- /templates/home.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>비밀 숙취일기</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-100">
<div th:replace="~{layout/header :: header}"></div>
<main class="container mx-auto p-8 text-center mt-20">
    <div sec:authorize="isAuthenticated()">
         <h1 class="text-6xl font-extrabold text-slate-800">어서오세요, <span sec:authentication="name"></span>님</h1>
        <p class="text-gray-600 mt-4 text-lg">어제의 과음, 오늘의 기록. 미래의 나를 구원합시다.</p>
         <div class="mt-10">
            <a th:href="@{/diaries}" class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-4 px-8 rounded-full text-xl transition-transform transform hover:scale-105">내 숙취일기 보기</a>
        </div>
    </div>
    <div sec:authorize="isAnonymous()">
        <h1 class="text-6xl font-extrabold text-slate-800">어제의 과오를 기록하라</h1>
        <p class="text-gray-600 mt-4 text-lg">당신의 숙취 경험이 미래의 당신을 구원합니다.</p>
        <div class="mt-10">
            <a th:href="@{/users/signup}" class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-4 px-8 rounded-full text-xl transition-transform transform hover:scale-105">비밀일기 시작하기</a>
        </div>
    </div>
</main>
</body>
</html>