<!-- /templates/layout/header.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header" class="bg-slate-800 text-white shadow-lg sticky top-0 z-10">
    <div class="container mx-auto px-6 py-3 flex justify-between items-center">
        <a th:href="@{/}" class="text-2xl font-bold">비밀 숙취일기</a>
        <nav class="flex items-center space-x-5">
            <a th:href="@{/diaries}" sec:authorize="isAuthenticated()" class="hover:text-slate-300">내 숙취일기</a>
            
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/users/login}" class="bg-teal-500 hover:bg-teal-600 px-4 py-2 rounded-md">로그인</a>
                <a th:href="@{/users/signup}" class="bg-gray-200 hover:bg-gray-300 text-slate-800 px-4 py-2 rounded-md">회원가입</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="flex items-center space-x-4">
                <span class="font-semibold"><span sec:authentication="name"></span>님</span>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="bg-gray-200 hover:bg-gray-300 text-slate-800 px-4 py-2 rounded-md">로그아웃</button>
                </form>
            </div>
        </nav>
    </div>
</header>
</html>